.git
.gitignore

target

*.env
*.log
*.tmp

.claude

.vscode
.idea
.DS_Store

Cargo.toml 
Cargo.lock
api_server/Cargo.toml
grpc_server/Cargo.toml
metrics_service/Cargo.toml
metrice_worker/Cargo.toml
ohlcv_worker/Cargo.toml 
shared/Cargo.toml
txn_worker/Cargo.toml